@import '../../common.scss';

.home {
  height: 100%;
  position: relative;
  background-color: $orange;
  background: radial-gradient(
    circle at top left,
    #f6530f 0%,
    #e44b0e 50%,
    #c8420d 100%
  );
}
