@mixin fadeIn {
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1.5s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.home {
  height: 100vh;
  width: 100vw;
  background-color: #f6530f;

  .title {
    position: absolute;
    left: 10px;
    top: 5px;
    margin: 0;
    font-size: 20px;
    @include fadeIn;
  }

  .recordStand {
    position: absolute;
    left: -22px;
    bottom: -44px;
    @include fadeIn();

    .loading {
      position: absolute;
      left: 58px;
      bottom: 345px;
      transform: scale(75%);
    }
    .recordHolderStand {
      position: absolute;
      left: 0;
      bottom: 0;
      transform: scale(75%);
    }
  }
}
