.contact {
  .email {
    margin-bottom: 1rem;
  }

  .emailLink {
    color: black;

    &:hover {
      text-decoration: underline;
    }
  }

  .contactHeadshot {
    margin-top: 4rem;
    min-width: 250px;
    width: 25vw;
    height: 100%;
  }
}
