.contact {
  .email {
    margin-bottom: 1rem;
  }

  .emailLink {
    color: black;

    &:hover {
      text-decoration: underline;
    }
  }

  img {
    margin-top: 4rem;
    width: 400px;
    height: 100%;
  }
}
