@keyframes fadeInNotes {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}

.rightNote,
.middleNote,
.leftNote {
  animation-timing-function: ease-in;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 2.5s;

  &.noOpacity {
    opacity: 0;
  }

  &.animateNotes {
    animation-name: fadeInNotes;
  }
}
