.loading {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recordContrast {
  position: absolute;

  // 76 seems to be the perf number for smooth infinite!!
  ellipse {
    stroke-dasharray: 76;
    stroke-dashoffset: 0%;
    animation-iteration-count: infinite;
    animation-name: rotate;
    animation-duration: 2s;
    animation-direction: reverse;
    animation-timing-function: linear;
  }

  @keyframes rotate {
    0% {
      stroke-dashoffset: 0%;
    }
    50% {
      stroke-dashoffset: 50%;
    }
    100% {
      stroke-dashoffset: 100%;
    }
  }
}

.record {
  position: absolute;
  top: 1px;
}

.tonearm {
  position: absolute;
  bottom: 18px;
  right: 0;
  transform-origin: 0 0;
  animation-iteration-count: infinite;
  animation-name: bounce;
  animation-duration: 1s;
  animation-direction: normal;
  animation-timing-function: ease-in-out;

  @keyframes bounce {
    0% {
      transform: rotate(0);
    }
    50% {
      transform: rotate(-0.5deg);
    }
    100% {
      transform: rotate(0);
    }
  }
}
