@keyframes rotate {
  0% {
    stroke-dashoffset: 0%;
  }

  50% {
    stroke-dashoffset: 50%;
  }
  100% {
    stroke-dashoffset: 100%;
  }
}

.loading {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .recordContrast {
      position: absolute;

      // 76 seems to be the perf number for smooth infinite!!
      ellipse {
        stroke-dasharray: 76;
        stroke-dashoffset: 0%;
        animation-iteration-count: infinite;
        animation-duration: 2s;
        animation-direction: reverse;
        animation-timing-function: linear;
      }
    }

    .record {
      position: absolute;
      top: 1px;
    }

    .tonearm {
      position: absolute;
      bottom: 18px;
      right: 0;
      transform-origin: 0 0;
      transform: skewX(45deg);
      animation-duration: 3s;
      animation-direction: normal;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
    }
  }

  &.animate {
    .wrapper {
      .recordContrast > ellipse {
        animation-name: rotate;
      }

      .tonearm {
        animation-name: moveTonearm;

        @keyframes moveTonearm {
          0% {
          }
          50% {
            transform: skewX(0);
          }
          100% {
            transform-origin: 100% 100%;
            transform: skewY(-5deg);
          }
        }
      }
    }
  }
}
