@use '../common.scss' as *;

.mainContainer {
  display: flex;
  flex-direction: column;
  background: #ff5c19;
  min-height: 100%;

  .facePoster {
    width: 100px;
    height: 100px;
  }

  .navbar {
    display: flex;
    justify-content: space-around;
    padding: 0 3rem;
    margin: 1rem 0;

    .nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-grow: 1;
      padding: 0;

      .nav-item {
        list-style-type: none;

        a {
          color: black;
          font-size: 1.25rem;
          text-transform: lowercase;
        }
      }
    }
  }

  .mainContainerChildrenContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0 3rem;

    .mainContainerChildren {
      // overflow: scroll;
    }

    .leftWall {
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 1;
    }
  }

  footer {
    display: flex;
    flex-direction: column;

    .floor {
      // z-index: 0;
    }
  }
}

// custom classnames for main container
.childrenContainerHomePage {
  justify-content: flex-end;
  margin-bottom: -4rem;
}
