@use '../common.scss' as *;

.mainContainer {
  display: flex;
  flex-direction: column;
  background: $orange;
  min-height: 100%;
  overflow-x: hidden;

  .facePoster {
    width: 100px;
    height: 100px;
  }

  .navbar {
    display: flex;
    justify-content: space-around;
    padding: 0 3rem;
    margin: 1rem 0;

    .nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-grow: 1;
      padding: 0;

      .navItem {
        list-style-type: none;

        .navLink {
          color: black;
          font-size: 1.25rem;
          text-transform: lowercase;

          &:not(.facePosterItem) {
            @include fadeIn;
          }
        }

        .navLinkActive {
          text-decoration: underline;
        }
      }
    }
  }

  .mainContainerChildrenContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0 3rem 1rem 3rem;

    .mainContainerChildren {
      @include fadeIn;
    }

    .leftWall {
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 1;
    }
  }

  footer {
    display: flex;
    flex-direction: column;
  }

  .navbarMobile {
    padding: 0 1.5rem;

    .drawerNavOpen,
    .drawerNavClose {
      background-color: transparent;
      width: 80px;
    }

    .drawerNavClose > svg {
      margin-top: 10px;
    }

    .drawerNav {
      position: fixed;
      bottom: 0;
      z-index: 1000;
      display: flex;
      flex-direction: column;
      max-width: 100%;
      background-color: #219bc3;
      top: 0;
      right: 0;
      width: 100vw;

      .facePosterMobile {
        width: 100px;
        height: 100px;
      }

      .drawerNavHeader {
        display: flex;
        justify-content: space-between;
        margin: 1rem 1.5rem 0;

        .drawerNavClose {
          background-color: transparent;
        }
      }

      .drawerNavList {
        display: flex;
        align-items: center;
        flex-direction: column;

        .navItem {
          margin-bottom: 1rem;

          .navLink {
            font-size: 2rem;

            &:not(.facePosterItem) {
              animation: none;
            }
          }
        }
      }

      .drawerFooter {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 0 2rem;

        .floor {
          position: absolute;
          bottom: 0;
          left: 0;
          z-index: -1;
        }
      }
    }
  }
}

// custom classnames for main container
.childrenContainerHomePage {
  justify-content: flex-end;
  margin-bottom: -4rem;
  z-index: 1;
}
