@use '../common.scss' as *;

.mainContainer {
  display: flex;
  flex-direction: column;
  background: #ff5c19;
  min-height: 100%;
  overflow-x: hidden;

  .facePoster {
    width: 100px;
    height: 100px;
    @include fadeInHome;
  }

  .navbar {
    display: flex;
    justify-content: space-around;
    padding: 0 3rem;
    margin: 1rem 0;
    @include fadeIn;

    .nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-grow: 1;
      padding: 0;

      .nav-item {
        list-style-type: none;

        .nav-link {
          color: black;
          font-size: 1.25rem;
          text-transform: lowercase;
        }

        .nav-link-active {
          text-decoration: underline;
        }
      }
    }
  }

  .mainContainerChildrenContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0 3rem 1rem 3rem;

    .mainContainerChildren {
      @include fadeIn;
    }

    .leftWall {
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 1;
    }
  }

  footer {
    display: flex;
    flex-direction: column;
  }

  .navbar-mobile {
    .hamburger {
      background-color: transparent;
    }

    .drawer-nav {
      position: fixed;
      bottom: 0;
      z-index: 1000;
      display: flex;
      flex-direction: column;
      max-width: 100%;
      background-color: #219bc3;
      top: 0;
      right: 0;
      width: 100vw;

      .facePosterMobile {
        width: 100px;
        height: 100px;
      }

      .drawer-nav-header {
        display: flex;
        justify-content: space-between;
        margin: 1rem 3rem 0;

        .drawer-nav-close {
          width: 50px;
          margin-left: auto;
          background-color: transparent;
        }
      }

      .drawer-nav-list {
        margin-top: 1rem;
        display: flex;
        align-items: center;
        flex-direction: column;

        .nav-item {
          margin-bottom: 1.5rem;

          .nav-link {
            font-size: 2rem;
          }
        }
      }

      .drawer-footer {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 0 2rem;

        .floor {
          position: absolute;
          bottom: 0;
          left: 0;
          z-index: -1;
        }
      }
    }
  }
}

// custom classnames for main container
.childrenContainerHomePage {
  justify-content: flex-end;
  margin-bottom: -4rem;
  z-index: 1;
}
