@import '../common.scss';
@import './sharedWorkStyles.scss';

.works {
  height: 100%;
  display: grid;
  position: relative;
  padding: 2rem;
  gap: 1rem;
  grid-template-columns: 1.5fr 1fr 1fr 1fr 1.5fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    'about work-item-regina-spektor work-item-bruit work-item-spill-tab .'
    'about work-item-la-witch work-item-garbage work-item-teaser-sweet .'
    'recordPlayer work-item-blackwater-holylight work-item-skunk-anansie work-item-sunflower-bean .'
    'recordPlayer . . . .'
    'recordPlayer . . . .';

  & > *:not(.recordStand) {
    @include fadeIn();
  }

  & > *:not(.recordStand) {
    @include hoverAnimation;
  }

  .recordStand {
    position: relative;
    grid-area: recordPlayer;
    // height: 250px;
    align-self: end;

    .loading {
      position: absolute;
      left: 25px;
      bottom: 191px;
      transform: scale(50%) translate(-50%, 50%);
    }
    .recordHolderStand {
      position: absolute;
      left: 0;
      bottom: 0;
      transform: scale(50%) translate(-50%, 50%);
    }
  }

  .albumReview {
    height: 100%;
    width: 100%;
    position: relative;

    $recordHeight: 175px;
    $recordWidth: 125px;
    img {
      height: $recordHeight;
      width: $recordWidth;
      box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.2);
      position: relative;
      z-index: 2;
      object-fit: cover;
    }

    .albumReviewBackdrop {
      background-color: rgb(0, 0, 0, 0.3);
      position: absolute;
      top: 2px;
      left: 2px;
      height: $recordHeight;
      width: $recordWidth;
      z-index: 1;
    }
  }
}
