@use '../common.scss' as *;
@use './sharedWorkStyles.scss' as *;

.wallPosters {
  z-index: 2;
  grid-area: works;
  height: 100%;
  display: grid;
  position: relative;
  padding: 2rem;
  gap: 1rem;
  grid-template-columns: 1.5fr 1fr 1fr 1fr 1.5fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    'about work-item-regina-spektor work-item-bruit work-item-spill-tab .'
    'about work-item-la-witch work-item-blackwater-holylight work-item-skunk-anansie .'
    'recordPlayer . . . bookshelf'
    'recordPlayer . . . bookshelf';

  & {
    @include fadeIn();
  }

  & > *:not(.recordStand, .bookshelf) {
    @include hoverAnimation;
  }

  .recordStand {
    position: relative;
    grid-area: recordPlayer;
    align-self: end;
    display: flex;
    flex-direction: column;
  }

  .bookshelf {
    position: relative;
    grid-area: bookshelf;
    align-self: end;
  }

  .albumReview {
    height: 100%;
    width: 100%;
    position: relative;

    $recordHeight: 175px;
    $recordWidth: 125px;
    img {
      height: $recordHeight;
      width: $recordWidth;
      box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.2);
      position: relative;
      z-index: 2;
      object-fit: cover;
    }

    .albumReviewBackdrop {
      background-color: rgb(0, 0, 0, 0.3);
      position: absolute;
      top: 2px;
      left: 2px;
      height: $recordHeight;
      width: $recordWidth;
      z-index: 1;
    }
  }
}
