@use '../common.scss' as *;
@use './sharedWorkStyles.scss' as *;

.wallPosters {
  z-index: 2;
  grid-area: works;
  height: 100%;
  display: grid;
  position: relative;
  padding: 2rem;
  gap: 4rem;
  grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    'about facePoster work-item-la-witch work-item-spill-tab .'
    '. work-item-regina-spektor work-item-blackwater-holylight work-item-skunk-anansie .'
    'recordPlayer cdPlayerAndRecordArchive cdPlayerAndRecordArchive cdPlayerAndRecordArchive bookshelf'
    'recordPlayer cdPlayerAndRecordArchive cdPlayerAndRecordArchive cdPlayerAndRecordArchive bookshelf';
  margin-left: 4rem;
  margin-bottom: 4rem;

  & {
    @include fadeIn();
  }

  & > *:not(.recordStand, .bookshelf, .about) {
    @include hoverAnimation;
  }

  .recordStand {
    position: relative;
    grid-area: recordPlayer;
    align-self: end;
    display: flex;
    flex-direction: column;
  }

  .bookshelf {
    position: relative;
    grid-area: bookshelf;
    align-self: end;

    .topOfBookshelf {
      margin: 0 1rem;
      display: flex;
      justify-content: space-between;
      align-items: end;

      .girlOnGirl {
        img {
          float: right;
          width: 70px;
          height: 100%;
        }
      }
    }
  }

  .cdPlayerAndRecordArchive {
    position: relative;
    grid-area: cdPlayerAndRecordArchive;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;

    .cdPlayer {
      margin-bottom: -0.5rem;
    }

    .recordArchive {
      display: flex;
    }
  }

  .albumReview {
    height: 100%;
    width: 100%;
    position: relative;

    $recordHeight: 175px;
    $recordWidth: 125px;
    img {
      height: $recordHeight;
      width: $recordWidth;
      box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.2);
      position: relative;
      z-index: 2;
      object-fit: cover;
    }

    .albumReviewBackdrop {
      background-color: rgb(0, 0, 0, 0.3);
      position: absolute;
      top: 2px;
      left: 2px;
      height: $recordHeight;
      width: $recordWidth;
      z-index: 1;
    }
  }
}
