@use '../../common.scss' as *;

.main {
  height: 100%;
  background-color: $orange;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;

  .face {
    position: absolute;
    left: 3rem;
    top: 1rem;
    width: 100px;
    height: 100px;

    @media (max-width: 768px) {
      left: 1.5rem;
    }
  }

  .enterButton {
    color: white;

    &:hover {
      color: #da0a79;
    }
  }

  .hideButton {
    transition: opacity ease-out 500ms;
    opacity: 0%;
    pointer-events: none;
  }
}
