.bio {
  display: flex;

  @media (max-width: 768px) {
    flex-direction: column;

    .bioLeft {
      margin-bottom: 2rem;
    }
  }

  .bioLeft,
  .bioRight {
    flex: 50%;
  }

  .bioLeft {
    display: flex;
    justify-content: center;

    p {
      margin: 0;
      padding: 0;
      color: black;
    }
  }

  .bioRight {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .bioPhoto {
      width: 50%;
    }
  }
}
