@use '../../../common.scss' as *;
@use './sharedWorkStyles.scss' as *;

.wallPostersDesktop {
  grid-area: works;
  height: 100%;
  display: grid;
  width: 100%;
  position: relative;
  padding: 2rem;
  gap: 1rem;
  grid-template-columns: 1.25fr 1fr 1fr 1.5fr;
  grid-template-rows: 30% 1fr;
  grid-template-areas:
    'wallPosterReviews wallPosterReviews wallPosterReviews bookshelf'
    'recordPlayer cdPlayerAndRecordArchive cdPlayerAndRecordArchive bookshelf';

  .wallPosterReviews {
    grid-area: wallPosterReviews;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'work-item-regina-spektor work-item-la-witch work-item-indigo work-item-daffo';

    & > * {
      @include hoverAnimation;
    }
  }

  .recordStand {
    position: relative;
    grid-area: recordPlayer;
    align-self: end;
    display: flex;
    flex-direction: column;
  }

  .bookshelf {
    position: relative;
    grid-area: bookshelf;
    align-self: end;
    display: flex;
    flex-direction: column;

    .topOfBookshelf {
      margin: 0 1rem;
      display: flex;
      justify-content: space-between;
      align-items: end;
      margin-bottom: -0.1rem;

      .girlOnGirl {
        width: 20%;
        @include hoverAnimation;
        img {
          float: right;
          width: 100%;
          height: 100%;
        }
      }

      .zineLibraryLink {
        width: 50%;
        display: flex;

        .zineLibrarySVG {
          @include hoverAnimation;
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .cdPlayerAndRecordArchive {
    position: relative;
    grid-area: cdPlayerAndRecordArchive;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;

    .cdPlayer {
      margin-bottom: -0.1rem;
      display: flex;
      width: 65%;
    }

    .recordArchive {
      display: flex;
      width: 80%;
    }
  }

  .albumReview {
    height: 100%;
    width: 100%;
    position: relative;

    $recordHeight: 100%;
    $recordWidth: 80%;
    img {
      height: $recordHeight;
      width: $recordWidth;
      box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.2);
      position: relative;
      z-index: 2;
      object-fit: cover;
    }
  }

  .recordStandSVG,
  .cdPlayerSVG,
  .recordArchiveSVG,
  .bookshelfSVG {
    width: 100%;
    height: 100%;
  }
}

.wallPostersMobile {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  .wallPosterReviews {
    flex: 60%;
    grid-area: wallPosterReviews;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      'work-item-regina-spektor work-item-la-witch'
      'work-item-indigo work-item-daffo';
    margin: 0 2rem 3rem;
    gap: 1rem;

    & > * {
      @include hoverAnimation;
    }

    .albumReview {
      height: 100%;
      width: 100%;
      position: relative;

      img {
        height: 100%;
        width: 60%;
        box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.2);
        position: relative;
        z-index: 2;
        object-fit: cover;

        @media (max-width: 600px) {
          height: 100%;
          width: 80%;
        }

        @media (max-width: 480px) {
          height: 100%;
          width: 90%;
        }
      }

      &:nth-child(1),
      &:nth-child(4) {
        display: flex;
        justify-content: flex-end;
      }
    }
  }

  .stereoMobile {
    display: flex;
    justify-content: center;

    svg {
      width: 90%;
      height: 100%;

      @media (max-width: 480px) {
        height: 100%;
        width: 60%;
      }
    }
  }
}
