.writings {
  display: flex;
  flex-direction: column;

  h2 {
    text-transform: lowercase;
  }

  .writingsSection {
    margin-bottom: 1rem;

    .sectionList {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li > a {
        color: black;
      }
    }
  }
}
